 h1{ 
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 2px 2px 2px #686565;
    color:rgb(66, 66, 66);
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:dimgrey;
    }

    li {

        float: left;
        

    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }
    li {
        
        border-right: 2px solid #bbb;
    }
    li:last-child {
        border-right: 2px solid #bbb;
      
    }
    a {
        display: block;
        padding: 16px;
        background-color:dimgrey;
    }
    li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color:cadetblue;
      }

p,h2,h3,h4,h5,h6,ul,ol,dl{
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif
}
.keskitetty {
    text-align: center;
}

.container {
    display: flex; /* Asetetaan flex-container, joka laittaa elementit vierekkäin */
    align-items: center; /* Keskittää elementit pystysuunnassa */
  }
  .kuva {
    width: 500px; /* Asetetaan kuvan leveys tarpeidesi mukaan */
    height: auto; /* Säilytetään kuvasuhteen mukainen korkeus */
    margin-right: 20px; /* Lisätään väliä kuvan ja tekstin väliin */
  }