 h1{ 
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 2px 2px 2px #686565;
    color:rgb(66, 66, 66);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 0.6);
    border: 2px solid #bbb;
    border-radius: 2px;
}

li {

    float: left;
}   

    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: #111;
}

li {
        
    border-right: none;
}

li:last-child {
    border-right: none;
}
   
    
li a:hover:not(.active) {
    background-color: #111;
} 
      
.active {
    background-color:rgb(96, 95, 95)
      
}

p,h2,h3,h4,h5,h6,ul,ol,dl{
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif
}


.keskitetty {
    text-align: center;
    align-items: center;
}




.custom-button {
    background-color: rgba(105, 105, 105, 0.6);
    color:white;
    text-align: center;
    font-size: 16px;
    font-family: Rubik;
    display: block;
    margin: 0;
    padding: 10px 14px;
    overflow: hidden;
    text-decoration: none;
    border: 2px solid #bbb;
    border-radius: 5px; 
}
.custom-button:hover {
    background-color: #111;

}

