 #otsikko{ 
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 2px 2px 2px #686565;
    color:rgb(66, 66, 66);
}


.navigointi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(75, 74, 74, 0.6);
    border: 2px solid #bbb;
    border-radius: 2px;
}
.navigointi li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigointi li{

    float: left;
    border-right: none;
}
.navigointi
li a:hover {
    background-color: #111;
}
.navigointi li:last-child {
    border-right: none;
}
   
.navigointi li a:hover:not(.active) {
    background-color: #111;
 
      
}

.normilista{
    list-style-type: none;


}
    
     


p,h2,h3,h4,h5,h6,ul,ol,dl{
    font-family:Rubik, Cochin, Georgia, Times, 'Times New Roman', serif
}



.keskitetty_lista{
    justify-content: center;
    text-align: center
}
.keskitetty {
    text-align: center;
    align-items: center;

}



.painike {
    background-color: rgba(75, 74, 74, 0.6);
    color:white;
    text-align: center;
    font-size: 16px;
    font-family: Rubik;
    display: block;
    padding: 10px 14px;
    overflow: hidden;
    text-decoration: none;
    border: 2px solid #bbb;
    border-radius: 5px; 
}
.painike:hover {
    background-color: #111;

}

.active {
    background-color:rgb(96, 95, 95)
      
}
.vinossa {
    transform: rotate(-5deg);
}
.kohta {
    position: relative;
}
.alaosa{
    background-color: rgb(55, 53, 53);
    color:white;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.infoalaosa{
    background-color: rgb(55, 53, 53);
    color:white;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}